body {
    font-family: 'Montserrat Alternates', sans-serif;
}

ul, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

                                                   /* HEADER */

.navigation {

}

.navigation-menu {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.vector{
    width: 5px;
    height: 9px;
}

.nav-menu {
    display: none;
}

.navigation-menu-nav {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.navigation-menu-nav:hover + .nav-menu{
    display: block;
}

.menu {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}


                                                    /* MAIN */


.title-main {
    color: rgb(0, 0, 0);
    
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    left: 527px;
    top: 116px;
    position: absolute;
}


.main {
    background-image:"./img/Group 141.png";
}

.text-main{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat Alternates';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.text{
    color: rgb(3, 153, 0);
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: right;
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10 px;
}

.black-block{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

.text{
    color: rgb(3, 153, 0);
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-computer {
    border-radius: 20px;
    background: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    top: 36px;
    left: 454px;
}

.button-number{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    color: rgb(126, 126, 126);
    font-family: 'Montserrat Alternates';
    flex-grow: 0;
    margin: 0px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    border: none;
}

.btn-scientist {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat Alternates';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.footer{

}

.logo{
    width: 165px;
    height: 70px;
}