*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
}
.container {
  width: 1090px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  gap: 81px;
  height: 80px;
}

.logo-header {
  width: 93px;
  height: 38.15px;
  padding: 21px 0 20.85px 175px;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.menu-list:hover > .nav-menu {
  display: block;
  position: absolute;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-radius: 0px 0px 20px 20px;
}

.navigation-menu-nav {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Montserrat Alternates";
}

.vector {
  width: 5px;
  height: 9px;
  padding-right: 50px;
}

.nav-menu {
  display: none;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 20px;
}

.nav-menu-li {
  padding: 10px 10px;
  text-align: center;
}

.nav-menu-li:hover {
  background: rgb(241, 241, 241);
}

.menu {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.navigation-menu {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  padding-right: 50px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  position: relative;
}
.welcome-text {
  font-size: 14px;
  color: #000;
}

/* MAIN */

.main {
  background-image: url(../img/Group141.png);
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  background-color: rgb(241, 241, 241);
}

.title-main {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  padding: 36px 0;
}

.line {
  width: 536px;
  margin-top: 36px;
}

.div-main {
  display: flex;
  align-items: baseline;
}

.label-year {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.click__year {
  background-color: #000000;
  width: 35px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text-main {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding: 36px 0;
}

.input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 10px 10px 10px 10px;
  outline: red;
}

.timeKalkul {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.rodioninput-container {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.input-timeKalkul {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  padding: 10px 10px 10px 10px;
  outline: red;
  width: 120px;
  height: 35px;
}

.output {
  margin-bottom: 17px;
  font-size: 18px;
}

.v104 {
  width: 15px;
  height: 15px;
}

.label-number {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.input-label-number {
  width: 120px;
  height: 35px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  border: none;
  padding: 10px 10px 10px 10px;
  outline: red;
}

.click__number {
  background-color: #000000;
  width: 35px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.text {
  color: rgb(3, 153, 0);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: right;
  padding-left: 149px;
}

/*Камінь - ножиці - папір */

.rodionsproect {
  background-color: white;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rodionsproect h1 {
  margin-top: 20px;
  font-size: 24px;
}

.choices {
  margin-top: 40px;
}

.choice {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background: rgb(0, 0, 0);
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 25px;
}

.choice:hover {
  transform: scale(1.1);
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

.score {
  margin-top: 30px;
  font-size: 18px;
}

.score p {
  margin: 5px;
}

.btn-computer {
  padding: 10px 20px 10px 20px;
  background-color: #000000;
  color: white;
  /* border: none; */
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 36px;

  transition: all 0.5s ease-out;
  transform: scale(1);
  transition-duration: 0.5s;
}
.btn-computer:hover,
.btn-computer:focus {
  animation: linear;
  animation-duration: 0.3s;
  animation-delay: 0.2s;

  background-color: white;
  color: black;
  border-color: #000000;
  transform: scale(0.99);
}

.div-calculator {
  display: flex;
  padding-bottom: 36px;
}

.input-calculator {
  width: 135px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(215, 215, 215);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  border: none;
  padding: 10px 20px 10px 20px;
  outline: red;
  margin-right: 38px;
}

.div-sign {
  display: flex;
  flex-wrap: wrap;
  width: 70px;
  gap: 10px;
  margin-right: 38px;
}

.sign {
  width: 27px;
  height: 25px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
}

.sign-btn {
  width: 27px;
  height: 25px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  margin-right: 38px;
}

.input-number {
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(215, 215, 215);
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  padding: 10px /*20px 10px 20px*/;
  margin: 0px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0;
}

.text-main-number {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  padding: 36px 0 0;
}

.div-scientist {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}

.btn-scientist {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
}

/* Наша команда */

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.prev,
.next {
  cursor: pointer;
}

.prev:hover,
.next:hover {
  text-decoration: none;
  transition: 0.6s ease;
}
.text-fade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-align: center;
  gap: 20px;
}
.name {
  height: 17px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}
.text_name {
  width: 244px;
  height: 15px;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.buttton_click_slide_box {
  width: 10%;
}

.photo {
  width: 100px;
  height: 100px;
}

.style_dot {
  gap: 2px;
}
.dot {
  height: 2px;
  width: 10px;
}

.imgForSlider {
  width: 100px;
  height: 100px;
}
.text_name {
  width: 160px;
}

.active,
.dot:hover,
.dot:focus {
  width: 12px;
  height: 2px;
}

.buttton_click_slide_box {
  width: 5%;
  flex-wrap: nowrap;
}

/* Обери вченого/их */

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  width: fit-content;
}

.item-list {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates";
  text-align: center;
  margin-bottom: 36px;
  margin-right: 59px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background: rgb(217, 217, 217);
  text-align: center;
}

.item-list2 {
  border-radius: 20px;

  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  /* margin-bottom: 3px; */
}
.txt-item-list2 {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  padding: 15px;
}

.for-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.list2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last-item {
  margin-top: 20px;
  align-self: center;
}

.footer {
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  width: 165px;
  height: 70px;
  padding: 75px 0 0 175px;
}

.container-footer {
  display: flex;
}

.text-footer {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0%;
  padding: 61px 187px 58px 185px;
}

.contacts-footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 97px;
}

.contacts-li {
  padding-right: 36px;
}

.input-footer {
  color: rgb(126, 126, 126);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 20px;
  background: rgb(215, 215, 215);
  border: none;
  padding: 10px 80px 10px 10px;
}

.button-footer {
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  width: 107px;
  height: 35px;
}

.comment {
  color: rgb(0, 0, 0);
  font-family: "Montserrat Alternates";
  font-size: 6px;
  font-weight: 400;
  line-height: 7px;
  letter-spacing: 0%;
  padding-top: 18px;
}

.game {
  width: 600px;
  height: 200px;
  border-bottom: 0.5px solid #000;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url("../dino/dino.png");
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#cactus {
  width: 20px;
  height: 40px;
  background-image: url("../dino/cactus.png");
  background-size: 20px 40px;
  position: relative;
  top: 110px;
  left: 580px;
  animation: cactusMov 1s infinite linear;
  /* animation-play-state: paused; */
}

@keyframes cactusMov {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 130px;
  }
  50% {
    top: 80px;
  }
  80% {
    top: 130px;
  }
  100% {
    top: 150px;
  }
}

.btn-dino {
  border-radius: 20px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px 10px;
  margin-right: 10px;
}
